body {
  margin: 0px;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  height: 69px;
  margin: 0px;
  border-bottom: 1px solid seashell;
  z-index: 20;
}

.logo {
  width: 1485px;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

.navigation {
  margin-right: 10px;
}

.navigation a {
  font-size: 22px;
  padding-left: 20px;
  color: seashell;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 69px;
}

#mission {
  display: flex;
  align-items: center;
  background-image: url("../../resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}

 .statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 1200px;
}

.statement h2 {
  margin: 10px auto;

}

.statement h4 {
  margin: 10px auto;
}

#featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.tea h2 {
  margin: 80px 0px 10px 0px;

}

.tea h4 {
  margin: 20px 0px 20px 0px;
}

.triple {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.double {
  display: flex;
  justify-content: space-between;
  width: 650px;
}

.titles img {
  height: 200px;
  width: 300px;
}

.titles h4 {
  text-align: center;
  margin: 10px 0px 20px 0px;
}

#locations {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.head3 h2 {
  margin-bottom: 15px;
  margin-top: 55px;
}

.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../resources/images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  }

.list {
  display: flex;
  justify-content: space-between;
  width: 980px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 300px;
}

.address p {
  padding: 12px;
}

.contact {
  text-align: center;
  height: 200px;
}

.contact h2 {
  margin: 10px 0px 40px 0px;
}

.copyright h5 {
  margin-left: 20px;
}
