body {
  margin: 0px;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  opacity: 0.9;
  width: 100%;
  height: 69px;
  margin: 0px;
  border-bottom: 1px solid seashell;
}

.logo {
  width: 1495px;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

.navigation a {
  font-size: 22px;
  padding-left: 20px;
  color: seashell;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

#mission {
  display: flex;
  align-items: center;
  background-image: url("../../resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}

 .statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 1200px;
}

h2 {
  margin: 10px auto;

}

h4 {
  margin: 10px auto;
}
